.cardDiv_1 {
    width: 19rem;
    border: none;
}

.secondRowCard {
    width: 57rem;
    border: none;
}

.secondRowCard_2 {
    width: 19rem;
    border: none;
}

.thirdRowCard_second {
    width: 38rem;
    border: none;
}

.dropdownCss {
    height: 32px;
    margin-right: 5px;
    width: 115px;
    padding-left: 15px;
    background: #F2F3F4;
    outline: none;
    font-size: 12px;
    margin-top: -5px;
}

.hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

.tableCss {
    width: 280px;
    align-items: start;
    justify-content: start;
}

.thirdRowCard_1 {
    width: 24rem;
    border: none;
}

.thirdRowCard_2 {
    width: 19rem;
    border: none;
    margin-left: 10px;
}

.thirdRowCard_3 {
    width: 27rem;
    border: none;
}

.linechart1_css {
    // margin-left: 45px;
    // margin-right: 40px;
    width: 88%;
    margin: auto;
    // margin-bottom: 56px;
    padding-top: 50px;
}

.mapCss {
    margin: auto;
    width: 60%;
    padding-top: 55px;
    padding-bottom: 18px;
}