.inputCss {
    height: 40px;
    padding-left: 40px;
    margin-top: 5px;
    background: #F2F3F4;
    border: none;
    outline: none;
    padding-right: 20px;
}

.searchIconCss {
    position: absolute;
    padding-top: 15px;
    margin-left: 10px;
}

.dropdownCss {
    height: 40px;
    margin-right: 25px;
    width: 140px;
    padding-left: 30px;
    background: #F2F3F4;
    outline: none;
}

.flagCss {
    position: absolute;
    padding-top: 12px;
    margin-left: 10px;
}