.dashbard {
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    margin-left: 10px;
}

.dropdownCss {
    height: 30px;
    margin-right: 25px;
    width: 140px;
    padding-left: 10px;
    outline: none;
}