.cardDiv_1 {
    width: 19rem;
    height: 54rem;
    border: none;
    background: white;
}

.btn {
    width: 273px;
    margin-top: 30px;
    background: #F0F6FF;
    border: none;
    color: #005CE8;
    border-radius: 20px;
    font-weight: 600;
}

.btnnOneCss {
    width: 273px;
    margin-top: 30px;
    background: #F0F6FF;
    border: none;
    color: #005CE8;
    font-weight: 600;
}

.modal_btn_css {
    background: #F5F6F7;
    color: #191B1C;
}